[submodule "atelier"]
	path = atelier
	url = https://github.com/Enalye/atelier.git
[submodule "farfadet"]
	path = farfadet
	url = https://github.com/Enalye/farfadet.git
[submodule "minuit"]
	path = minuit
	url = https://github.com/Enalye/minuit.git
